{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block login %}
  <section class="sign-in-page" style="background-color: #b6b3b3">
    <div class="container">
      <div class="row justify-content-center align-items-center height-self-center">
        <div class="col-md-6 col-sm-12 col-12 align-self-center">
          <div class="sign-user_card">
            <div class="sign-in-page-data">
              <div class="sign-in-from w-100 pt-5 m-auto">
                <h1 class="mb-3 text-center">Log in</h1>
                <form class="mt-4" action="{% url 'account_login' %}" method="POST" id="contactForm">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail2">メールアドレス</label>
                    <input type="email" class="form-control mb-0" id="id_login" name="login" placeholder="メールアドレス" autocomplete="email" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword2">パスワード</label>
                    <input type="password" class="form-control mb-0" id="id_password" name="password" placeholder="パスワード" autocomplete="current_password" required="required"/>
                  </div>
                  <div class="sign-info">
                    <button type="submit" class="btn btn-primary mb-2">
                      ログイン
                    </button>
                  </div>
                  <!-- <div class="d-inline-block w-100"> <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1"> <input type="checkbox" class="custom-control-input" id="id_remember" name="remember"/> <label class="custom-control-label" for="customCheck1">Remember</label> </div> </div> -->
                </form>
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
              </div>
            </div>
            <div class="mt-2">
              <div class="d-flex justify-content-center links">
                <a href="{% url 'account_signup' %}" class="ml-2">アカウント作成</a>
              </div>
              <div class="d-flex justify-content-center links">
                <a href="{% url 'account_reset_password' %}">パスワードを忘れましたか?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign in END -->
      <!-- color-customizer -->
    </div>
  </section>

{% endblock %}
