{% extends "base.html" %}

{% load i18n %}

{% block login %}
  <section class="sign-in-page" style="background-color: #b6b3b3">
    <div class="container">
      <div class="row justify-content-center align-items-center height-self-center">
        <div class="col-md-6 col-sm-12 col-12 align-self-center">
          <div class="sign-user_card">
            <div class="sign-in-page-data">
              <div class="sign-in-from w-100 m-auto pt-5">
                <h1 class="mb-3 text-center">Sign Up</h1>
                <form class="mt-4" action="{% url 'account_signup' %}" method="POST" id="signup_form">{% csrf_token %}
                  {{form.errors}}
                  <div class="form-group">
                    <label for="exampleInputEmail2">メールアドレス</label>
                    <input type="email" class="form-control mb-0" id="id_email" name="email" placeholder="メールアドレス" required="required" autocomplete="email"/>
                  </div>
                  <div class="form-group">
                    <label for="id_password1">パスワード</label>
                    <input type="password" class="form-control mb-0" id="id_password1" name="password1" placeholder="パスワード" autocomplete="new-password" required="required"/>
                  </div>
                  <div class="form-group">
                    <label for="id_password2">パスワード(確認用)</label>
                    <input type="password" class="form-control mb-0" id="id_password2" name="password2" placeholder="パスワード(確認用)" autocomplete="new-password" required="required"/>
                  </div>
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <div class="sign-info mt-3">
                    <button type="submit" value="submit" class="btn btn-primary mb-2">
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="mt-2">
              <div class="d-flex justify-content-center links">
                <a href="{% url 'account_login' %}" class="ml-2">ログインする</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
