body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    color: #4a525f;
    background: #ffffff;
}

.normal{
    color:#222428;
}

a:hover{
    text-decoration: none;
    color: #f9ae02;
}

.mainc{
    color: #f9ae02;
}

img{
    object-fit: contain;
}

p{
    margin: 0;
}

button {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
}


.sidebar-delete-sp{display: none;}

.fa-star{
    color: #ffdd31;
}

.fa-star.disable{
    color:#4a525f;
}

.getInReady{
    display: none;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.ready:hover + .getInReady{
    display: block;
}

/*  sort_menus  */

.type-list li{
    list-style: none;
}

.brand-list li{
    list-style: none;
}

.type-list li input{
    position: absolute;
    left:-99999px;
}

.brand-list li input{
    position: absolute;
    left:-99999px;
}

.types i{
    display: none;
}

.brand-list i{
    display: none;
}

#type_menu ul li input[type='radio']:checked ~ label i{
    display: block;
}

#brand_menu ul li input[type='radio']:checked ~ label i{
    display: block;
}


@media(min-width:1300px) {
    #sort_menu{
        right:-100vw;
        width:calc(100vw - 260px);
        position: fixed;
        height:100%;
        background-color: white;
        z-index: 10;
        transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        margin-top:70px;
        padding: 30px;
    }

    #type_menu{
        right:-100vw;
        top:0px;
        width:calc(100vw - 260px);
        position: fixed;
        height:100%;
        background-color: white;
        z-index: 11;
        transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        margin-top:70px;
        padding: 30px 0px 140px 0px;
        height: 100vh;
        overflow-y: scroll;
    }

    #brand_menu{
        right:-100vw;
        top:0px;
        width:calc(100vw - 260px);
        position: fixed;
        height:100%;
        background-color: white;
        z-index: 11;
        transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        margin-top:70px;
        padding: 30px 15px 140px 15px;
        height: 100vh;
        overflow-y: scroll;
    }
}

@media(max-width:1299px){
    #sort_menu{
        right:-100vw;
        width:100vw;
        position: fixed;
        height:100%;
        background-color: white;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        margin-top:70px;
        padding: 30px 20px 20px 20px;
        overflow-y: scroll;
    }

    #type_menu{
        top:0px;
        right:-100vw;
        width:100vw;
        position: fixed;
        height:100%;
        background-color: white;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        margin-top:70px;
        padding: 30px 20px 140px 20px;
        height: 100vh;
        overflow: scroll;
        overflow-y: scroll;
    }

    #brand_menu{
        top:0px;
        right:-100vw;
        width:100vw;
        position: fixed;
        height:100%;
        background-color: white;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        margin-top:70px;
        padding: 30px 20px 140px 20px;
        height: 100vh;
        overflow-y: scroll;
    }
}


#sort_menu.active{
    right:0;
}

#type_menu.active{
    right:0;
}

#brand_menu.active{
    right:0;
}

#content-page.inactive{
    display: none;
}

/*---------------------------------------------------------------------
                            login_menu
-----------------------------------------------------------------------*/

#contactForm ul {
    padding: 0px;
    width: 100%;
}

#contactForm ul li{
    list-style: none;
    text-align: center;
    color: #ff5400fa;
}

#signup_form ul{
    padding: 0px;
    width: 100%;
}

#signup_form ul li{
    list-style: none;
    text-align: center;
    color: #ff5400fa;
}

/*---------------------------------------------------------------------
                            post validations
-----------------------------------------------------------------------*/
.error{
    color: red;
    font-size: 12px;
}

.post-pic{
    border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
}

@media(min-width:1300px){
    .post-pic{
        width: 400px !important;
        height:400px !important;
    }

    .post-image-edit{
        height:auto !important;
    }

    .post-image{
    right: 15px !important;
    bottom: 30px !important;
    height: 50px !important;
    width: 50px !important;
    font-size: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

/*---------------------------------------------------------------------
                            detail column
-----------------------------------------------------------------------*/
.pc-column-item{
    height:275px;
}

.iq-circle form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iq-circle form button{
    display: flex;
    align-items: center;
    justify-content: center;
}