{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="iq-card">
          <div class="iq-card-body">
            <div class="row">
              <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <img src="{{object.bpic.url}}" class="img-fluid w-100" style="max-height:400px" alt=""/>
              </div>
              <div class="col-lg-6 pt-md-5 pbset">
                <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                  <div class="music-detail">
                    <h3 class="mainc">{{object.bname}}</h3>
                    <p>
                      {{ object.bdesc }}
                    </p>
                  </div>
                  <div class="music-right" style="position: absolute; bottom: 0px; left: 20px">
                    <div class="d-flex align-items-center">
                      <div class="iq-circle mr-2 share">
                        <a href="javascript:void();">
                          <i class="las la-share-alt-square text-secondary"></i>
                        </a>
                      </div>
                      <div class="iq-circle mr-2">
                        <form action="{% url 'favb' %}" method="POST">{% csrf_token %}
                          {% if faved_list %}
                            <button id="favb" name="{{object.pk}}">
                              <i class="ri-heart-fill text-primary"></i>
                            </button>
                          {% else %}
                            <button id="favb" name="{{object.pk}}">
                              <i class="ri-heart-fill text-secondary"></i>
                            </button>
                          {% endif %}
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
            <h4 class="card-title">Beers List</h4>
          </div>
          <div class="d-flex align-items-center iq-view">
            <b class="mb-0 text-primary">
              <a href="{% url 'search' %}?brand={{ object.pk }}">もっと見る
                <i class="las la-angle-right"></i>
              </a>
            </b>
          </div>
        </div>
        <div class="iq-card-body">
          <ul class="list-unstyled row iq-box-hover mb-0">
            {% for item in items %}
              <li class="col-xl-3 col-lg-4 col-md-5 iq-music-box">
                <div class="iq-card">
                  <div class="iq-card-body p-0">
                    <div class="iq-thumb d-flex align-items-center justify-content-center">
                      <a href="{% url 'detail' item.pk %}">
                        <img src="{{ item.ppic.url }}" class="img-border-radius img-fluid" style="object-fit:cover;height:230px;" alt="" loading="lazy"/>
                      </a>
                    </div>
                    <div class="feature-list text-center">
                      <a href="{% url 'detail' item.pk %}">
                        <h6 class="font-weight-600 mb-0">
                          {{ item.pname }}
                        </h6>
                      </a>
                      <a href="#">
                        <small class="mb-0">{{ item.brand }}</small>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  {% endblock content %}
  {% block ext_js %}
    <script type="text/javascript">
      $(document).ready(function (event) {
        $(document).on('click', '#favb', function (event) {
          event.preventDefault();
          $.ajax({
            headers: {
              'X-CSRFToken': csrftoken
            },
            type: 'POST',
            url: "{% url 'favb' %}",
            data: {
              'brand_id': $(this).attr('name')
            },
            dataType: 'json',
            success: function (response) {
              selector = document.getElementById("favb");
              if (response.faved) {
                $(selector).html("<i class='ri-heart-fill text-primary'></i>");
              } else {
                $(selector).html("<i class='ri-heart-fill text-secondary'></i>");
              }
              selector2 = document.getElementsByName(response.product_id + "-count");
              $(selector2).text("いいね!!：" + response.count + "個");
            }
          });
        });
      });
    </script>
  {% endblock ext_js %}
