{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2 class="mb-3">Detail</h2>
        </div>
        <div class="iq-card">
          <div class="iq-card-body">
            <div class="row">
              <div class="col-lg-6 align-items-center">
                <img src="{{object.ppic.url}}" class="img-fluid w-100" style="max-height:400px" alt=""/>
              </div>
              <div class="col-lg-6 pt-md-5 pbset">
                <div class="d-flex align-items-top justify-content-between iq-music-play-detail">
                  <div class="music-detail">
                    <h3 class="mainc">{{object.pname}}</h3>
                    <span>{{ object.brand }}</span>
                    <p>
                      {{ object.desc }}
                    </p>
                  </div>
                  <div class="music-right" style="position: absolute; bottom: 0px; left: 20px">
                    <div class="d-flex align-items-center">
                      <div class="iq-circle mr-2 share">
                        <a href="javascript:void();">
                          <i class="las la-share-alt-square text-secondary"></i>
                        </a>
                      </div>
                      <div class="iq-circle mr-2">
                        <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                          {% if obejcet.pk in faved_list %}
                            <button id="favp" name="{{object.pk}}">
                              <i class="ri-heart-fill text-primary"></i>
                            </button>
                          {% else %}
                            <button id="favp" name="{{object.pk}}">
                              <i class="ri-heart-fill text-secondary"></i>
                            </button>
                          {% endif %}
                        </form>
                      </div>
                      <div class="iq-circle">
                        <a href="#anchor1">
                          <i class="las la-comment text-secondary"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="row total_rate">
                <div class="col-12 mb-3">
                  <div class="box_total text-center">
                    <h4>Overall</h4>
                    {% if avg == None %}
                      <h3>-</h4>
                    {% else %}
                      <h3 style="color: #f9ae02">{{ avg }}</h4>
                    {% endif %}
                    <p>レビュー：{{ object.drunk_product.count }}件</p>
                  </div>
                </div>
              </div>
              <div class="review_list">
                {% for review in object.drunk_product.all %}
                  <div class="review_item">
                    <div class="media row">
                      <div class="col-sm-7">
                        <div class="d-flex">
                          <img src="{{ review.user.upic.url }}" alt="" class="img-fluid rounded-circle" style="width: 50px; height: 50px"/>
                          <div class="media-body pl-3">
                            <h4>{{ review.user.username }}</h4>
                            {% if review.rate == 5 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            {% elif review.rate == 4 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star disable"></i>
                            {% elif review.rate == 3 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star disable"></i>
                              <i class="fa fa-star disable"></i>
                            {% elif review.rate == 2 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star disable"></i>
                              <i class="fa fa-star disable"></i>
                              <i class="fa fa-star disable"></i>
                            {% elif review.rate == 1 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star disable"></i>
                              <i class="fa fa-star disable"></i>
                              <i class="fa fa-star disable"></i>
                              <i class="fa fa-star disable"></i>
                            {% endif %}
                            <i>{{ review.rate }}</i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <small>{{ review.day }}</small>
                      </div>
                    </div>
                    <p>
                      {{ review.com }}
                    </p>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box text-center" id="anchor1">
                <h4>Add a Review</h4>
                <form action="{% url 'drunk' object.pk %}" class="form-contact form-review rating-form" method="POST">{% csrf_token %}
                  <fieldset class="form-group">
                    <div class="form-item">
                      <input id="rating-5" name="rating" type="radio" value="5"/>
                      <label for="rating-5" data-value="5">
                        <span class="rating-star">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="ir">5</span>
                      </label>
                      <input id="rating-4" name="rating" type="radio" value="4"/>
                      <label for="rating-4" data-value="4">
                        <span class="rating-star">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="ir">4</span>
                      </label>
                      <input id="rating-3" name="rating" type="radio" value="3"/>
                      <label for="rating-3" data-value="3">
                        <span class="rating-star">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="ir">3</span>
                      </label>
                      <input id="rating-2" name="rating" type="radio" value="2"/>
                      <label for="rating-2" data-value="2">
                        <span class="rating-star">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="ir">2</span>
                      </label>
                      <input id="rating-1" name="rating" type="radio" value="1"/>
                      <label for="rating-1" data-value="1">
                        <span class="rating-star">
                          <i class="fa fa-star-o" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="ir">1</span>
                      </label>
                    </div>
                  </fieldset>
                  <div class="form-group">
                    <textarea class="form-control" name="com" id="textarea" cols="30" rows="5" placeholder="コメントを入力"></textarea>
                  </div>
                  <div class="form-group text-center mt-3">
                    <button type="submit" value="submit" id="drunk" class="btn btn-secondary mb-1 px-5 text-center mt-3" name="{{object.id}}">
                      Post
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block ext_js %}
  <script type="text/javascript">
    $(document).ready(function (event) {
      $(document).on('click', '#favp', function (event) {
        event.preventDefault();
        $.ajax({
          headers: {
            'X-CSRFToken': csrftoken
          },
          type: 'POST',
          url: "{% url 'favp' %}",
          data: {
            'product_id': $(this).attr('name')
          },
          dataType: 'json',
          success: function (response) {
            selector = document.getElementById("favp");
            if (response.faved) {
              $(selector).html("<i class='ri-heart-fill text-primary'></i>");
            } else {
              $(selector).html("<i class='ri-heart-fill text-secondary'></i>");
            }
            selector2 = document.getElementsByName(response.product_id + "-count");
            $(selector2).text("いいね!!：" + response.count + "個");
          }
        });
      });
    });
  </script>
{% endblock ext_js %}