{% extends 'base.html' %}
{% block search_active %}active{% endblock search_active %}
{% block sort_buttom %}
  <a style="position: fixed;bottom:32px; right:32px; cursor: pointer;z-index:8;" id="sort_button">
    <div class="d-flex flex-column justify-content-center p-2 rounded-circle" style="background-color: #a09e9e;width:60px;height:60px;box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);">
      <div class="text-center" style="color: white;">
        <p style="font-size: 8px;" class="d-flex flex-column">
          <i class="las la-sliders-h" style="color: white;font-size:28px"></i>絞り込む</p>
      </div>
    </div>
  </a>
{% endblock sort_buttom %}
{% block sort_menu %}
  <div class="col-12" id="sort_menu">
    <div class="search-header w-100 text-center mb-3" style="position: relative;">
      <a id="sort_reset" style="position: absolute; left: 10px;cursor: pointer;">
        <i class="las la-angle-left"></i>戻る</a>
      <h6 class="font-weight-bold">こだわり検索</h4>
    </div>
    <div>
      <form action="{% url 'search' %}" method="GET">
        <div class="row form-group">
          <div class="col-lg-3">
            <p class="font-weight-bold">キーワード</p>
          </div>
          <div class="col-lg-9">
            <input class="w-100 form-control" name="q" value="{{request.GET.q}}" placeholder="キーワードを入力" type="text">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-6">
            <p class="font-weight-bold">ビールのタイプ</p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <a id="type_toggle" style="cursor: pointer;">
              <span id="selected_type">選択する</span>
              <i class="las la-angle-right"></i>
            </a>
          </div>
          <div class="col-12" id="type_menu">
            <div class="search-header w-100 text-center mb-3" style="position: relative;">
              <a id="type_reset" style="position: absolute; left: 10px;cursor: pointer;">
                <i class="las la-angle-left"></i>戻る</a>
              <h6 class="font-weight-bold">ビールのタイプ</h4>
            </div>
            <ul class="row type-list p-0 m-0">
              {% for type in types %}
                <li class="col-xl-3 col-lg-3 col-md-4 col-4 mb-3 p-0 text-center types">
                  <input class="type_check" type="radio" name="type" value="{{ type.pk }}" id="{{ type.ptype }}">
                  <label for="{{ type.ptype }}" class="types_label" style="cursor: pointer;">
                    <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: {{ type.ptype_color }};width: 60px;height:60px;margin:0 auto;">
                      <i class="fas fa-check" style="color:white;font-size:36px"></i>
                    </div>
                    <div class="text-center">
                      <p>{{ type.ptype }}</p>
                    </div>
                  </label>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <p class="font-weight-bold">ブルワリー</p>
          </div>
          <div class="col-8 d-flex justify-content-end">
            <a id="brand_toggle" style="cursor: pointer;">
              <span id="selected_brand">選択する</span>
              <i class="las la-angle-right"></i>
            </a>
          </div>
          <div class="col-12" id="brand_menu">
            <div class="search-header w-100 text-center mb-3" style="position: relative;">
              <a id="brand_reset" style="position: absolute; left: 10px;cursor: pointer;">
                <i class="las la-angle-left"></i>戻る</a>
              <h6 class="font-weight-bold">ブルワリー</h4>
            </div>
            <div class="row">
              <ul class="px-3 brand-list">
                {% for brand in brands %}
                  <li>
                    <input type="radio" name="brand" value="{{ brand.pk }}" id="{{ brand.bname }}">
                    <label for="{{ brand.bname}}" style="cursor: pointer;">
                      <div class="iq-card iq-card-transparent">
                        <div class="iq-card-body p-0">
                          <div class="media align-items-center">
                            <div class="iq-thumb-hotsong">
                              <a tabindex="0"><img src="{{ brand.bpic.url }}" class="img-fluid avatar-60" alt="">
                              </a>
                            </div>
                            <div class="media-body ml-3">
                              <h6 class="mb-0 iq-song-title">
                                {{ brand.bname }}
                              </h6>
                              <small>{{ brand.locate }}</small>
                            </div>
                            <div class="" style="position:absolute;right:20px">
                              <i class="fas fa-check"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </label>
                  </li>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-secondary btn-block">クリア</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">検索する</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock sort_menu %}
{% block content %}
  <div class="col-lg-12" id="main_content">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Beer List</h4>
        </div>
      </div>
      <div class="iq-card-body">
        <ul class="list-unstyled row iq-box-hover mb-0">
          {% for item in products %}
            <li class="col-xl-4 col-lg-4 col-md-6 iq-music-box">
              <div class="iq-card">
                <div class="iq-card-body p-0">
                  <div class="iq-thumb" style="padding-top:15px;">
                    <a href="{% url 'detail' item.pk %}">
                      <img src="{{ item.ppic.url }}" class="img-border-radius img-fluid w-100" style="width:100%;height:160px;" alt=""/>
                    </a>
                  </div>
                  <div class="feature-list text-center">
                    <a href="{% url 'detail' item.pk %}">
                      <h6 class="font-weight-600 mb-0">
                        {{ item.pname }}
                      </h6>
                    </a>
                    <a href="{% url 'branddetail' item.brand.pk %}">
                      <small class="mb-0">{{ item.brand }}</small>
                    </a>
                    <div class="w-100">
                      <div class="d-flex align-items-center justify-content-center">
                        <div class="iq-circle mr-2 share">
                          <a href="javascript:void();">
                            <i class="las la-share-alt-square text-secondary"></i>
                          </a>
                        </div>
                        <div class="iq-circle mr-2">
                          <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                            {% if item.pk in faved_list %}
                              <button id="favp" name="{{item.pk}}">
                                <i class="ri-heart-fill text-primary"></i>
                              </button>
                            {% else %}
                              <button id="favp" name="{{item.pk}}">
                                <i class="ri-heart-fill text-secondary"></i>
                              </button>
                            {% endif %}
                          </form>
                        </div>
                        <div class="iq-circle">
                          <a href="{% url 'detail' item.pk %}#anchor1">
                            <i class="las la-comment text-secondary"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="col-12 text-center w-100 mb-3">
          {% include "paginate.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block ext_js %}
  <script type="text/javascript">
    $(document).ready(function (event) {
      $(document).on('click', '#favp', function (event) {
        event.preventDefault();
        $.ajax({
          headers: {
            'X-CSRFToken': csrftoken
          },
          type: 'POST',
          url: "{% url 'favp' %}",
          data: {
            'product_id': $(this).attr('name')
          },
          dataType: 'json',
          success: function (response) {
            selector = document.getElementsByName(response.product_id);
            if (response.faved) {
              $(selector).html("<i class='ri-heart-fill text-primary'></i>");
            } else {
              $(selector).html("<i class='ri-heart-fill text-secondary'></i>");
            }
          }
        });
      });
    });
  </script>
  <script>
    const sort = document.getElementById("sort_button");
    const sort_menu = document.getElementById("sort_menu");
    const sort_reset = document.getElementById("sort_reset");
    const type_toggle = document.getElementById("type_toggle");
    const type_reset = document.getElementById("type_reset");
    const type_menu = document.getElementById("type_menu");
    const brand_menu = document.getElementById("brand_menu");
    const brand_reset = document.getElementById("brand_reset");
    const brand_toggle = document.getElementById("brand_toggle");
    const main_content = document.getElementById("content-page");

    sort.addEventListener('click', function () {
      sort_menu
        .classList
        .toggle("active");
      main_content
        .classList
        .toggle("inactive")
    })

    sort_reset.addEventListener('click', function () {
      sort_menu
        .classList
        .toggle("active");
      main_content
        .classList
        .toggle("inactive")
    })

    type_toggle.addEventListener('click', function () {
      type_menu
        .classList
        .toggle("active");
    })

    type_reset.addEventListener('click', function () {
      type_menu
        .classList
        .toggle("active");
    })

    brand_toggle.addEventListener('click', function () {
      brand_menu
        .classList
        .toggle("active")
    })

    brand_reset.addEventListener('click', function () {
      brand_menu
        .classList
        .toggle("active")
    })
  </script>
  <script></script>
  <script>
    const typeInput = document.getElementsByName("type");
    const selectedType = document.getElementById("selected_type");
    const brandInput = document.getElementsByName("brand");
    const selectedBrand = document.getElementById("selected_brand");

    for (let i = 0; i < typeInput.length; i++) {
      const type = typeInput[i];
      type.addEventListener('click', function () {
        if (type.checked) {
          const typeName = type.getAttribute("id");
          selectedType.innerText = typeName;
        } else {
          console.log("boo");
        }
      })
    }

    for (let i = 0; i < brandInput.length; i++) {
      const brand = brandInput[i];
      brand.addEventListener('click', function () {
        if (brand.checked) {
          const brandName = brand.getAttribute("id");
          selectedBrand.innerText = brandName;
        } else {
          console.log("boo");
        }
      })
    }
  </script>
{% endblock ext_js %}