{% extends 'base.html' %}
{% block side_img %}
  <image class="nav_icon" src="../media/{{user.upic}}"/>
{% endblock side_img %}
{% block content %}
  <div class="container text-center">
    <div class="pageTitle">
      <p>Brewery List</p>
      <h2>ブルワリーを探す</h2>
    </div>
    <section class="lattest-product-area pb-40 category-list">
      <div class="row pt-5 pb-2">
        {% for brand in object_list %}
          <div class="col-md-6 col-lg-4">
            <div class=" card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="../../media/{{ brand.bpic }}" alt=""/>
                <ul class="card-product__imgOverlay">
                  <li>
                    <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                      {% if item.id in faved_list %}
                        <button id="favp" name="{{item.id}}">
                          <i class="fas fa-lg red_h fa-heart"></i>
                        </button>
                      {% else %}
                        <button id="favp" name="{{item.id}}">
                          <i class="far fa-lg fa-heart"></i>
                        </button>
                      {% endif %}
                    </form>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <p class="card-product__title">
                  <a href="{% url 'branddetail' brand.pk  %}">{{ brand.bname }}</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
      {% include 'paginate.html' %}
    </div>
  </div>
{% endblock content %}
{% block ext_js %}

  <script type="text/javascript">
    $(document).ready(function (event) {
      $(document).on('click', '#favp', function (event) {
        event.preventDefault();
        $.ajax({
          headers: {
            'X-CSRFToken': csrftoken
          },
          type: 'POST',
          url: "{% url 'favp' %}",
          data: {
            'product_id': $(this).attr('name')
          },
          dataType: 'json',
          success: function (response) {
            selector = document.getElementsByName(response.product_id);
            if (response.faved) {
              $(selector).html("<i class='fas fa-lg fa-heart'></i>");
            } else {
              $(selector).html("<i class='far fa-lg fa-heart'></i>");
            }
            selector2 = document.getElementsByName(response.product_id + "-count");
            $(selector2).text("いいね!!：" + response.count + "個");
          }
        });
      });
    });
  </script>
{% endblock ext_js %}