{% extends 'base.html' %}
{% block search_active %}active{% endblock search_active %}
{% block content %}
  <div class="col-lg-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Beer List</h4>
        </div>
      </div>
      <div class="iq-card-body">
        <ul class="list-unstyled row iq-box-hover mb-0">
          {% for item in products %}
            <li class="col-xl-3 col-lg-4 col-md-5 iq-music-box">
              <div class="iq-card">
                <div class="iq-card-body p-0">
                  <div class="iq-thumb">
                    <a href="{% url 'detail' item.pk %}">
                      <img src="{{ item.ppic.url }}" class="img-border-radius img-fluid w-100" style="width:100%;height:160px;" alt=""/>
                    </a>
                  </div>
                  <div class="feature-list text-center">
                    <a href="{% url 'detail' item.pk %}">
                      <h6 class="font-weight-600 mb-0">
                        {{ item.pname }}
                      </h6>
                    </a>
                    <a href="{% url 'branddetail' item.brand.pk %}">
                      <small class="mb-0">{{ item.brand }}</small>
                    </a>
                    <div class="w-100">
                      <div class="d-flex align-items-center justify-content-center">
                        <div class="iq-circle mr-2 share">
                          <a href="javascript:void();">
                            <i class="las la-share-alt-square text-secondary"></i>
                          </a>
                        </div>
                        <div class="iq-circle mr-2">
                          <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                            {% if item.pk in faved_list %}
                              <button id="favp" name="{{item.pk}}">
                                <i class="ri-heart-fill text-primary"></i>
                              </button>
                            {% else %}
                              <button id="favp" name="{{item.pk}}">
                                <i class="ri-heart-fill text-secondary"></i>
                              </button>
                            {% endif %}
                          </form>
                        </div>
                        <div class="iq-circle">
                          <a href="{% url 'detail' item.pk %}#anchor1">
                            <i class="las la-comment text-secondary"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="col-12 text-center w-100 mb-3">
          {% include "paginate.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block ext_js %}

  <script type="text/javascript">
    $(document).ready(function (event) {
      $(document).on('click', '#favp', function (event) {
        event.preventDefault();
        $.ajax({
          headers: {
            'X-CSRFToken': csrftoken
          },
          type: 'POST',
          url: "{% url 'favp' %}",
          data: {
            'product_id': $(this).attr('name')
          },
          dataType: 'json',
          success: function (response) {
            selector = document.getElementsByName(response.product_id);
            if (response.faved) {
              $(selector).html("<i class='ri-heart-fill text-primary'></i>");
            } else {
              $(selector).html("<i class='ri-heart-fill text-secondary'></i>");
            }
          }
        });
      });
    });
  </script>
{% endblock ext_js %}