{% extends 'base.html' %}
{% block content %}
  <div class="container text-center">
    <div class="pageTitle">
      <p>Find the Beer</p>
      <h2>ビールを探す</h2>
    </div>
    <div class="d-flex justify-content-center">
      <form class="form-inline my-2" method="GET" action="{% url 'search' %}">
        <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
        <button type="submit" value="search" class="btn btn-primary">検索</button>
        <a class="btn btn-danger" href="{% url 'list' %}">検索をリセット</a>
      </form>
    </div>
    <section class="lattest-product-area pb-40 category-list">
      {% if query %}
        <p>{{ query }}の検索結果：{{ products.count }}件</p>
        <div class="row pt-5 pb-2">
          {% for item in products %}
            <div class="col-md-6 col-lg-4">
              <div class=" card text-center card-product">
                <div class="card-product__img">
                  <img class="card-img" src="{{ item.ppic.url }}" alt=""/>
                  <ul class="card-product__imgOverlay">
                    <li>
                      <button>
                        <i class="fas fa-beer">飲んだ！</i>
                      </i>
                    </button>
                  </li>
                  <li>
                    <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                      {% if item.id in faved_list %}
                        <button id="favp" name="{{item.id}}">
                          <i class="fas fa-lg red_h fa-heart">飲みたい！</i>
                        </button>
                      {% else %}
                        <button id="favp" name="{{item.id}}">
                          <i class="far fa-lg fa-heart">飲みたい！</i>
                        </button>
                      {% endif %}
                    </form>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <p>{{ item.brand }}</p>
                <p class="card-product__title">
                  <a href="{% url 'detail' item.pk %}">{{ item.pname }}</a>
                </p>
                <p class="card-product__price">{{ item.ptype }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>{{ query }}の検索結果：0件</p>
      {% endif %}
    </section>
    {% include 'paginate.html' %}
  </div>
</div>
{% endblock content %}
{% block ext_js %}

<script type="text/javascript">
  $(document).ready(function (event) {
    $(document).on('click', '#favp', function (event) {
      event.preventDefault();
      $.ajax({
        headers: {
          'X-CSRFToken': csrftoken
        },
        type: 'POST',
        url: "{% url 'favp' %}",
        data: {
          'product_id': $(this).attr('name')
        },
        dataType: 'json',
        success: function (response) {
          selector = document.getElementsByName(response.product_id);
          if (response.faved) {
            $(selector).html("<i class='fas fa-lg fa-heart'>飲みたい！</i>");
          } else {
            $(selector).html("<i class='far fa-lg fa-heart'>飲みたい！</i>");
          }
          selector2 = document.getElementsByName(response.product_id + "-count");
          $(selector2).text("いいね!!：" + response.count + "個");
        }
      });
    });
  });
</script>
{% endblock ext_js %}