{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"/>
    {% block extrahead %}
      <link rel="stylesheet" href="{% static './css/master.css' %}"/>
      <link rel="stylesheet" href="{% static './css/style.css' %}"/>
    {% endblock %}
    <script src="https://kit.fontawesome.com/13f517234e.js" crossorigin="anonymous"></script>

    <title>beer marks</title>
  </head>

  <body>
    {% if request.user.is_authenticated %}
      <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
          <div class="sidebar-header text-center">
            {% include './templates/svg/logo_beermarks.svg' %}
          </div>
          <ul class="list-unstyled components text-center">
            <image class="nav_icon" src="{{user.upic.url}}"/>
            <p>{{user.username}}</p>
            <!-- <li class=""> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a> <ul class="collapse list-unstyled" id="homeSubmenu"> <li> <a href="#">Home 1</a> </li> <li> <a href="#">Home 2</a> </li> <li> <a href="#">Home 3</a> </li> </ul> </li> -->
            <li>
              <a href="{% url 'timeline' %}">Home</a>
            </li>
            <li class="">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Search</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="{% url 'list' %}">Product</a>
                </li>
                <li>
                  <a href="{% url 'brandlist' %}">Brand</a>
                </li>
                <li>
                  <a href="{% url 'userlist' %}">User</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{% url 'mypage' user.pk %}">My Page</a>
            </li>
            <li>
              <a href="#">Settings</a>
            </li>
          </ul>
          <ul class=" text-center">
            <li>
              <a href="{% url 'logout' %}">ログアウト</a>
            </li>
          </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light pc-nonactive">
            <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-side">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
              </button>
            </div>
          </nav>
          <div class="main_content">
            {% block content %}{% endblock content %}
          </div>
        </div>
      {% else %}
        {% block login %}{% endblock login %}
      {% endif %}

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

      <!-- slim jquery js -->
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="{% static './js/nav_cust.js' %}"></script>
      <script src="{% static './js/ajax.js' %}"></script>
      {% block ext_js %}{% endblock ext_js %}
    </body>

  </html>
