{% extends 'base.html' %}
{% block content %}
  <div class="col-lg-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Recent Post</h4>
        </div>
        <div class="d-flex align-items-center iq-view">
          <b class="mb-0 text-primary">
            <a href="beerlist.html">View More
              <i class="las la-angle-right"></i>
            </a>
          </b>
        </div>
      </div>
      <div class="iq-card-body">
        <ul class="list-unstyled row iq-box-hover mb-0">
          <li class="col-xl-3 col-lg-4 col-md-5 iq-music-box">
            <div class="iq-card">
              <div class="iq-card-body p-0">
                <div class="iq-thumb">
                  <a href="detail.html">
                    <img src="./image/210310_NoCloudsNoProblem_01.jpeg" class="img-border-radius img-fluid w-100" alt=""/>
                  </a>
                </div>
                <div class="feature-list text-center">
                  <a href="detail.html">
                    <h6 class="font-weight-600 mb-0">
                      NO CLOUDS, NO PROBLEM
                    </h6>
                  </a>
                  <a href="#">
                    <p class="mb-0">WEST COAST BREWING</p>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-header d-flex justify-content-between align-items-center">
            <div class="iq-header-title">
              <h4 class="card-title">Hot Beers</h4>
            </div>
            <div class="d-flex align-items-center iq-view">
              <b class="mb-0 text-primary">
                <a href="albums.html">View More
                  <i class="las la-angle-right"></i>
                </a>
              </b>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="list-unstyled row hot-songs mb-0 slick-initialized slick-slider">
              <li class="col-lg-12" style="width: 100%; display: inline-block">
                <div class="iq-card iq-card-transparent">
                  <div class="iq-card-body p-0">
                    <div class="media align-items-center">
                      <div class="iq-thumb-hotsong">
                        <a href="music-player.html" tabindex="0"><img src="./image/WCB+primary+logo+black.png" class="img-fluid avatar-60" alt=""/>
                        </a>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 iq-song-title">
                          WEST COAST Brewing
                        </h6>
                        <small>Shizuoka/Japan</small>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-header d-flex justify-content-between align-items-center">
            <div class="iq-header-title">
              <h4 class="card-title">Hot Brewery</h4>
            </div>
            <div class="d-flex align-items-center iq-view">
              <b class="mb-0 text-primary">
                <a href="albums.html">View More
                  <i class="las la-angle-right"></i>
                </a>
              </b>
            </div>
          </div>
          <div class="iq-card-body">
            <ul class="list-unstyled row hot-songs mb-0 slick-initialized slick-slider">
              <li class="col-lg-12" style="width: 100%; display: inline-block">
                <div class="iq-card iq-card-transparent">
                  <div class="iq-card-body p-0">
                    <div class="media align-items-center">
                      <div class="iq-thumb-hotsong">
                        <a href="music-player.html" tabindex="0"><img src="./image/WCB+primary+logo+black.png" class="img-fluid avatar-60" alt=""/>
                        </a>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="mb-0 iq-song-title">
                          WEST COAST Brewing
                        </h6>
                        <small>Shizuoka/Japan</small>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}