{% extends 'base.html' %}
{% block side_img %}
  <image class="nav_icon" src="../media/{{user.upic}}"/>
{% endblock side_img %}
{% block content %}
  <div class="container">
    <div class="text-center">
      <div class="pageTitle">
        <p>TIME LINE</p>
        <h2>タイムライン</h2>
      </div>
      <div class="">
        {% for post in posts %}
          {% if post.drunk is None %}
            <div class="">
              <article class="row post_item mb-3 mt-4 p-3">
                <div class="col-md-7 offset-md-1">
                  <div class="post_main">
                    <div class="post_main_pic">
                      <img src="../media/{{ post.favp.product.ppic }}" alt=""/>
                      <img class="backpic" src="../media/{{ post.favp.product.ppic}}" alt=""/>
                      <ul class="card-product__imgOverlay">
                        <li>
                          <button>
                            {% if post.drunk.product.id in drunk_list %}
                              <a href="{% url 'detail' post.favp.product.id %}#anchor1">
                                <i class="fas fa-beer orange">
                                  <span class="font-weight-normal">飲んだ！</span>
                                </i>
                              </a>
                            {% else %}
                              <a href="{% url 'detail' post.favp.product.id %}#anchor1">
                                <i class="fas fa-beer">
                                  <span class="font-weight-normal">飲んだ！</span>
                                </i>
                              </a>
                            {% endif %}
                          </button>
                        </li>
                        <li>
                          <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                            {% if post.favp.product.id in faved_list %}
                              <button id="favp" name="{{post.favp.product.id}}">
                                <i class="fas fa-lg red_h fa-heart">飲みたい！</i>
                              </button>
                            {% else %}
                              <button id="favp" name="{{post.favp.product.id}}">
                                <i class="far fa-lg fa-heart">飲みたい！</i>
                              </button>
                            {% endif %}
                          </form>
                        </li>

                      </ul>
                    </div>

                    <div class="post_details pt-3">
                      <a href="{% url 'detail' post.favp.product.id  %}">
                        <h2>{{post.favp.product.pname}}</h2>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3  d-flex align-items-center ">
                  <div class="posts text-left">
                    <div class="post_tag">
                      <a href="{% url 'branddetail' post.favp.product.brand.pk %}">{{post.favp.product.brand}}</a>
                    </br>
                    <a class="active" href="#">{{ post.favp.product.ptype }}</a>
                  </div>
                  <ul class="posts_meta list">
                    <li>
                      {% if user.id == post.favp.user.id %}
                        <a href="{% url 'mypage' user.id %}">
                          <i class="lnr lnr-user"></i>{{ post.favp.user }}
                        </a>
                      {% else %}
                        <a href="{% url 'udet' post.favp.user.id %}">
                          <i class="lnr lnr-user"></i>{{ post.favp.user }}
                        </a>
                      {% endif %}
                    </li>
                    <li>
                      <p class="count">
                        <i class="lnr lnr-heart"></i>
                        <span name="{{post.favp.product.id}}-count">{{ post.favp.product.fav_product.count }}</span>個
                      </p>
                    </li>
                    <li>
                      <a href="{% url 'detail' post.favp.product.id %}#anchor1">
                        <i class="lnr lnr-bubble"></i>
                        <span>{{ post.favp.product.drunk_product.count }}</span>レビュー
                      </a>
                    </li>
                    <li>
                      <p>
                        <i class="lnr lnr-calendar-full"></i>
                        {{ post.favp.day|date:"y/m/d/ H:i" }}
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        {% else %}
          <article class="row post_item mb-3">
            <div class="col-md-7 offset-md-1">
              <div class="post_main">
                <div class="post_main_pic">
                  <img src="../media/{{ post.drunk.product.ppic }}" alt=""/>
                  <img class="backpic" src="../media/{{ post.drunk.product.ppic}}" alt=""/>
                  <ul class="card-product__imgOverlay">
                    <li>
                      <button>
                        {% if post.drunk.product.id in drunk_list %}
                          <a href="{% url 'detail' post.drunk.product.id %}#anchor1">
                            <i class="fas fa-beer" style="color:#ffc107;">
                              <span class="font-weight-bold" style="color:#ffc107;">飲んだ！</span>
                            </i>
                          </a>
                        {% else %}
                          <a href="{% url 'detail' post.drunk.product.id %}#anchor1">
                            <i class="fas fa-beer">
                              <span class="font-weight-normal">飲んだ！</span>
                            </i>
                          </a>
                        {% endif %}
                      </button>
                    </li>
                    <li>
                      <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                        {% if post.drunk.product.id in faved_list %}
                          <button id="favp" name="{{post.drunk.product.id}}">
                            <i class="fas fa-lg red_h fa-heart">飲みたい！</i>
                          </button>
                        {% else %}
                          <button id="favp" name="{{post.drunk.product.id}}">
                            <i class="far fa-lg fa-heart">飲みたい！</i>
                          </button>
                        {% endif %}
                      </form>
                    </li>

                  </ul>
                </div>

                <div class="post_details pt-3">
                  <a href="{% url 'detail' post.drunk.product.id  %}">
                    <h2>{{post.drunk.product.pname}}</h2>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3  d-flex align-items-center ">
              <div class="posts text-left">
                <div class="post_tag">
                  <a href="#">{{post.drunk.product.brand}}</a>
                </br>
                <a class="active" href="#">{{ post.drunk.product.ptype }}</a>
              </div>
              <ul class="posts_meta list">
                <li>
                  {% if user.id == post.drunk.user.id %}
                    <a href="{% url 'mypage' user.id %}">
                      <i class="lnr lnr-user"></i>{{ post.drunk.user }}
                    </a>
                  {% else %}
                    <a href="{% url 'udet' post.drunk.user.id %}">
                      <i class="lnr lnr-user"></i>{{ post.drunk.user }}
                    </a>
                  {% endif %}
                </li>
                <li>
                  <p class="count">
                    <i class="lnr lnr-heart"></i>
                    <span name="{{post.drunk.product.id}}-count">{{ post.drunk.product.fav_product.count }}</span>個
                  </p>
                </li>
                <li>
                  <a href="#">
                    <i class="lnr lnr-bubble"></i>
                    <span>{{ post.drunk.product.drunk_product.count }}</span>レビュー
                  </a>
                </li>
                <li>
                  <p>
                    <i class="lnr lnr-calendar-full"></i>
                    {{ post.drunk.day|date:"y/m/d/ H:i" }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
{% endblock content %}
{% block ext_js %}

<script type="text/javascript">
$(document).ready(function (event) {
  $(document).on('click', '#favp', function (event) {
    event.preventDefault();
    $.ajax({
      headers: {
        'X-CSRFToken': csrftoken
      },
      type: 'POST',
      url: "{% url 'favp' %}",
      data: {
        'product_id': $(this).attr('name')
      },
      dataType: 'json',
      success: function (response) {
        selector = document.getElementsByName(response.product_id);
        if (response.faved) {
          $(selector).html("<i class='fas fa-lg fa-heart'>飲みたい！</i>");
        } else {
          $(selector).html("<i class='far fa-lg fa-heart'>飲みたい！</i>");
        }
        selector2 = document.getElementsByName(response.product_id + "-count");
        $(selector2).text(response.count);
      }
    });
  });
});
</script>
{% endblock ext_js %}