{% extends 'base.html' %}
{% block post_active %}
  active
{% endblock post_active %}
{% block content %}
  {% for post in posts %}
    {% if post.drunk is None %}
      <div class="col-lg-12">
        <div class="iq-card iq-mb-3">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="{{ post.favp.product.ppic.url}}" class="card-img" alt="#" style="max-height:375px"/>
            </div>
            <div class="col-md-7" style="position: relative">
              <div class="iq-card-body" style="padding-bottom: 70px">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="mr-3">
                    <img src="{{ post.favp.user.upic.url }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px" alt=""/>
                  </div>
                  <div>
                    <a href="{% url 'udet' post.favp.user.id %}">
                      <p>{{ post.favp.user.uname }}</p>
                    </a>
                  </div>
                </div>
                <a href="{% url 'detail' post.favp.product.id  %}">
                  <h4 class="card-title mainc">{{post.favp.product.pname}}</h4>
                </a>
                <h5>{{post.favp.product.brand}}</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in. a little bit longer.
                </p>
                <div class="mt-4">
                  <a href="#" class="btn btn-outline-dark rounded-pill mb-1 px-4 mr-3">{{ post.favp.product.ptype }}</a>
                </div>
                <p class="card-text text-right" style="position: absolute; bottom: 20px; right: 20px">
                  <small class="text-muted">{{ post.favp.day|date:"y/m/d/ H:i" }}</small>
                </p>
                <div class="" style="position: absolute; bottom: 20px; left: 20px">
                  <div class="d-flex align-items-center">
                    <div class="iq-circle mr-2 share">
                      <a href="javascript:void();">
                        <i class="las la-share-alt-square text-secondary"></i>
                      </a>
                    </div>
                    <div class="iq-circle mr-2">
                      <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                        {% if post.favp.product.id in faved_list %}
                          <button id="favp" name="{{post.favp.product.id}}">
                            <i class="ri-heart-fill text-primary"></i>
                          </button>
                        {% else %}
                          <button id="favp" name="{{post.favp.product.id}}">
                            <i class="ri-heart-fill text-secondary"></i>
                          </button>
                        {% endif %}
                      </form>
                    </div>
                    <div class="iq-circle">
                      <a href="#anchor1">
                        <i class="las la-comment text-secondary"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-lg-12">
        <div class="iq-card iq-mb-3">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img src="{{ post.drunk.product.ppic.url }}" class="card-img" alt="#" style="max-height:375px"/>
            </div>
            <div class="col-md-7" style="position: relative">
              <div class="iq-card-body" style="padding-bottom: 70px">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="mr-3">
                    <img src="{{ post.drunk.user.upic.url }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px" alt=""/>
                  </div>
                  <div>
                    <a href="{% url 'udet' post.drunk.user.id %}">
                      <p>{{ post.drunk.user.uname }}</p>
                    </a>
                  </div>
                </div>
                <a href="{% url 'detail' post.drunk.product.id %}">
                  <h4 class="card-title mainc">{{post.drunk.product.pname}}</h4>
                </a>
                <h5>{{post.drunk.product.brand}}</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural lead-in. a little bit longer.
                </p>
                <div class="mt-4">
                  <a href="#" class="btn btn-outline-dark rounded-pill mb-1 px-4 mr-3">{{ post.drunk.product.ptype }}</a>
                </div>
                <p class="card-text text-right" style="position: absolute; bottom: 20px; right: 20px">
                  <small class="text-muted">{{ post.drunk.day|date:"y/m/d/ H:i" }}</small>
                </p>
                <div class="" style="position: absolute; bottom: 20px; left: 20px">
                  <div class="d-flex align-items-center">
                    <div class="iq-circle mr-2 share">
                      <a href="javascript:void();">
                        <i class="las la-share-alt-square text-secondary"></i>
                      </a>
                    </div>
                    <div class="iq-circle mr-2">
                      <form action="{% url 'favp' %}" method="POST">{% csrf_token %}
                        {% if post.drunk.product.id in faved_list %}
                          <button id="favp" name="{{post.drunk.product.id}}">
                            <i class="ri-heart-fill text-primary"></i>
                          </button>
                        {% else %}
                          <button id="favp" name="{{post.drunk.product.id}}">
                            <i class="ri-heart-fill text-secondary"></i>
                          </button>
                        {% endif %}
                      </form>
                    </div>
                    <div class="iq-circle">
                      <a href="#anchor1">
                        <i class="las la-comment text-secondary"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
{% block ext_js %}

  <script type="text/javascript">
    $(document).ready(function (event) {
      $(document).on('click', '#favp', function (event) {
        event.preventDefault();
        $.ajax({
          headers: {
            'X-CSRFToken': csrftoken
          },
          type: 'POST',
          url: "{% url 'favp' %}",
          data: {
            'product_id': $(this).attr('name')
          },
          dataType: 'json',
          success: function (response) {
            selector = document.getElementsByName(response.product_id);
            if (response.faved) {
              $(selector).html("<i class='ri-heart-fill text-primary'></i>");
            } else {
              $(selector).html("<i class='ri-heart-fill text-secondary'></i>");
            }
            selector2 = document.getElementsByName(response.product_id + "-count");
            $(selector2).text("いいね!!：" + response.count + "個");
          }
        });
      });
    });
  </script>
{% endblock ext_js %}