{% extends 'base.html' %}
{% block login %}
  <section class="sign-in-page" style="background-color: #b6b3b3">
    <div class="container">
      <div class="row justify-content-center align-items-center height-self-center">
        <div class="col-md-6 col-sm-12 col-12 align-self-center">
          <div class="sign-user_card">
            <div class="sign-in-page-data">
              <div class="sign-in-from w-100 pt-5 m-auto">
                <h1 class="mb-3 text-center">Log in</h1>
                <form class="mt-4" action="#/" method="POST" id="contactForm">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail2">Username</label>
                    <input type="text" class="form-control mb-0" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control mb-0" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"/>
                  </div>
                  <div class="sign-info">
                    <button type="submit" class="btn btn-primary mb-2">
                      Log in
                    </button>
                  </div>
                  <div class="d-inline-block w-100">
                    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                      <input type="checkbox" class="custom-control-input" id="customCheck1"/>
                      <label class="custom-control-label" for="customCheck1">Remember</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="mt-2">
              <div class="d-flex justify-content-center links">
                <a href="{% url 'signup' %}" class="ml-2">アカウント作成</a>
              </div>
              <div class="d-flex justify-content-center links">
                <a href="pages-recoverpw.html">パスワードを忘れましたか?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign in END -->
      <!-- color-customizer -->
    </div>
  </section>

{% endblock login %}