{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="iq-card">
          <div class="iq-card-body profile-page">
            <div class="profile-header">
              <div class="cover-container row py-3">
                <div class="col-md-6">
                  <div class="text-center">
                    <img src="{{ user.upic.url }}" alt="profile-bg" class="rounded-circle img-fluid" style="width: 150px;height:150px;object-fit:cover;"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profile-detail mt-3">
                    <h3>{{ user.uname }}</h3>
                    <p>
                      {{ user.udesc }}
                    </p>
                    {% comment %} <div class="iq-social d-inline-block align-items-center text-center mt-3">
                      <ul class="list-inline d-flex p-0 mb-0 align-items-center">
                        <li>
                          <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 youtube">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="avatar-40 rounded-circle bg-primary pinterest">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="iq-card-body">
          <ul class="nav nav-tabs" id="myTab-two" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab-two" data-toggle="tab" href="#home-two" role="tab" aria-controls="home" aria-selected="true">Like</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab-two" data-toggle="tab" href="#profile-two" role="tab" aria-controls="profile" aria-selected="false">Drunk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="brand-tab-two" data-toggle="tab" href="#brand-two" role="tab" aria-controls="brand" aria-selected="false">Brewery</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent-1">
            <div class="tab-pane fade active show" id="home-two" role="tabpanel" aria-labelledby="home-tab-two">
              <div class="iq-card-body">
                <ul class="list-unstyled row iq-box-hover mb-0">
                  {% for item in faved_list %}
                    <li class="col-xl-3 col-lg-4 col-md-5 iq-music-box">
                      <div class="iq-card">
                        <div class="iq-card-body p-0">
                          <div class="iq-thumb d-flex align-items-center justify-content-center">
                            <a href="{% url 'detail' item.product.pk %}">
                              <img src="{{ item.product.ppic.url }}" class="img-border-radius img-fluid w-100" style="object-fit:cover;height:230px;" alt=""/>
                            </a>
                          </div>
                          <div class="feature-list text-center">
                            <a href="{% url 'detail' item.product.pk %}">
                              <h6 class="font-weight-600 mb-0">
                                {{ item.product.pname }}
                              </h6>
                            </a>
                            <a href="#">
                              <small class="mb-0">{{ item.product.brand }}</small>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="profile-two" role="tabpanel" aria-labelledby="profile-tab-two">
              <div class="iq-card-body">
                <ul class="list-unstyled row iq-box-hover mb-0">
                  {% for item in drunk_list %}
                    <li class="col-xl-3 col-lg-4 col-md-5 iq-music-box">
                      <div class="iq-card">
                        <div class="iq-card-body p-0">
                          <div class="iq-thumb d-flex align-items-center justify-content-center">
                            <a href="{% url 'detail' item.product.pk%}">
                              <img src="{{ item.product.ppic.url }}" class="img-border-radius img-fluid w-100" style="object-fit:cover;height:230px;" alt=""/>
                            </a>
                          </div>
                          <div class="feature-list text-center">
                            <a href="{% url 'detail' item.product.pk %}">
                              <h6 class="font-weight-600 mb-0">
                                {{ item.product.pname }}
                              </h6>
                            </a>
                            <a href="#">
                              <small class="mb-0">{{ item.product.brand }}</small>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="brand-two" role="tabpanel" aria-labelledby="brand-tab-two">
              <div class="iq-card-body">
                <ul class="list-unstyled row iq-box-hover mb-0">
                  {% for item in faved_b_list %}
                    <li class="col-xl-3 col-lg-4 col-md-5 iq-music-box">
                      <div class="iq-card">
                        <div class="iq-card-body p-0">
                          <div class="iq-thumb">
                            <a href="{% url 'branddetail' item.brand.pk %}">
                              <img src="{{ item.brand.bpic.url }}" class="img-border-radius img-fluid w-100" style="width:100%;height:160px;" alt=""/>
                            </a>
                          </div>
                          <div class="feature-list text-center">
                            <a href="{% url 'branddetail' item.brand.pk %}">
                              <h6 class="font-weight-600 mb-0">
                                {{ item.brand.bname }}
                              </h6>
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 col-md-12 col-lg-8"></div> -->
    </div>
  </div>
{% endblock content %}