{% extends 'base.html' %}

{% block content %}
  <div class="container text-center">
    <div class="pageTitle">
      <p>Find the Beer Freak</p>
      <h2>ユーザーを探す</h2>
    </div>
    <div class="row pt-5 pb-2">
      <div class="col-md-8 offset-md-2">
        {% for user in object_list %}
          <div class="people-nearby">
            <div class="nearby-user">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-2">
                  <img src="{{user.upic.url}}" alt="user" class="profile-photo-lg">
                </div>
                <div class="col-md-7 col-sm-7">
                  <h5>
                    <a href="#" class="profile-link">{{user.username}}</a>
                  </h5>
                  <!-- <p>Software Engineer</p> <p class="text-muted">500m away</p> -->
                </div>
                <div class="col-md-3 col-sm-3">
                  <a class="btn btn-userview" href="{% url 'udet' user.pk%}">
                    <span>Collectionをみる</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
